@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@300&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Ubuntu:wght@300&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Ubuntu+Mono&display=swap');

body {
    background: #000;
    margin: 0;
    padding: 0;
    min-height: 100vh;
    align-items: center;
    overflow-x: hidden;
    height: 400vh;
  }



.about-text {
    color: #fff;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 20pt;
    text-align: center;
    max-width: 50vw;
    
}
.about-text a {
    color: var(--default-color);
    text-decoration: none;
}
.about-text a:hover {
    text-decoration: underline;
}

/* Variablen */

:root {
    --navbar-top-space: 20px;
    --default-color: rgb(0, 195, 239);
    --default-font: 'Ubuntu', sans-serif;

    --text-primary: #b6b6b6;
    --text-secondary: #ececec;
    --bg-primary: #23232e;
    --bg-secondary: #141418;
  }




#preloader {
    background: #F7F7F7 url(loading-54.gif) no-repeat center center;
    background-size: 15%;
    height: 100vh;
    width: 100%;
    position: fixed;
    z-index: 5;
  }





  .start {
    background: #000;
    background-size: 15%;
    height: 150vh;
    width: 100%;
    z-index: 4;

  }
  /* YouTube Video */

.ytabout {
    position: absolute;
    margin-left: auto;
    margin-right: auto;
    left: 0;
    right: 0;
    text-align: center;
    top: 40%;
  }


.ytplayer {
    margin-top: 30px;
    margin-left: 100px;
  }


#twitch-embed {
    margin-left: 100px;
}

.video-headline {
    color: #4070F4;
    font-family: var(--default-font);
    font-size: 40pt;
    margin-top: 20px;
    margin-left: 100px;
}


.videoplan {
    position: absolute;
    top: calc(150vh + 120px);
    left: 60vw;
}

.yt_stream {
    position: absolute;
    top: calc(150vh + 120px);
}



.card {
    background: rgba(21, 21, 21, 0.287);
    width: 30vw;
    height: 6vh;
    transition: height 300ms;
    cursor: pointer;
    border-radius: 2%;
}

.card h2 {
    text-align: center;
    color: #fff;
    font-family: var(--default-font);
    position: relative;
    top: 10px;
}

.card p {
    display: none;
}

.card:hover {
    height: 20vh;
    transition: height 300ms;
}

.card:hover p {
    display: unset;
    
}

.card p {
    color: #fff;
    font-family: var(--default-font);
    margin: auto;
    margin-left: 15px;
}


.streamplan-headline {
    color: #4070F4;
    font-family: var(--default-font);
    font-size: 40pt;
    text-align: center;
}













.code-bg {
    position: relative;
    top: -100vh;
    left: 10vw;
}




.code-bg .paragraph {
    color: rgba(183, 0, 92, 0.361);
    font-family: 'Ubuntu Mono', monospace;
    transition: 0.2s;
}

.code-bg .paragraph:hover {
    color: rgb(183, 0, 92);
    transition: 0.2s;
}



.code-bg p {
    color: rgb(255, 255, 255, 0.361);
    font-family: 'Ubuntu Mono', monospace;
    transition: 0.2s;
}

.code-bg p:hover {
    color: rgb(255, 255, 255);
    transition: 0.2s;
}




.code-bg .headline {
    color: rgba(93, 18, 231, 0.361);
    transition: 0.2s;
}

.code-bg .headline:hover {
    color: rgb(93, 18, 231);
    transition: 0.2s;
}




.code-bg .link {
    color: rgba(37, 238, 14, 0.361);
    transition: 0.2s;
}

.code-bg .link:hover {
    color: rgb(37, 238, 14);
    transition: 0.2s;
}



.code-bg .link-a {
    color: rgba(238, 255, 0, 0.661);
    text-decoration: none;
    transition: 0.2s;
}

.code-bg .link-a:hover {
    color: rgb(238, 255, 0);
    text-decoration: underline;
    transition: 0.2s;
}























.start{
    width: 100vw;
    z-index: 100;
}
.start .text{
    position: relative;
    text-align: center !important;
    top: 25vh;
    left: 30vw;
    color: #4070F4;
    font-size: 80pt;
    font-weight: 600;
    font-family: var(--default-font);
}
.start .text.first-text{
    color: #FFF;
}
.text.sec-text:before{
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    background-color: #000;
    border-left: 2px solid #4070F4;
    animation: animate 4s steps(12) infinite;
}
@keyframes animate{
    40%, 60%{
        left: calc(100% + 4px);
    }
    100%{
        left: 0%;
    }
}
































/* Navbar */

main {
    margin-left: 5rem;
    padding: 1rem;
    font-size: 1.5rem;
    z-index: 1;
}

.navbar {
    width: 5rem;
    height: 100vh;
    position: fixed;
    background-color: #000;
    transition: width 200ms ease;
    z-index: 2;
}

.navbar-nav {
    list-style: none;
    padding: 0;
    margin: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 100%;
}

.nav-item {
    width: 100%;
}

/* Unterer Button wenn vorhanden */

/*
.nav-item:last-child {
    margin-top: auto;
}

*/


.nav-link {
    display: flex;
    align-items: center;
    height: 5rem;
    color: var(--text-primary);
    text-decoration: none;
    filter: grayscale(100%)  opacity(0.7);
    transition: 200ms;
}

.nav-link:hover {
    filter: grayscale(0%) opacity(1);
    background: var(--bg-secondary);
    color: #fff;
}

.link-text {
    display: none;
    margin-left: 1rem;
    font-family: Arial, Helvetica, sans-serif;
}

.nav-link .fa-brands, .fa-address-card {
    min-width: 2rem;
    margin: 0 1.5rem;
    color: #fff;
}

.navbar:hover {
    width: 16rem;
    background: rgba(12, 12, 12, 0.306);
}

.navbar:hover .link-text {
    display: block;
}

.nav-link .fa-brands, .fa-address-card {
    color: #fff;
}

.logo {
    font-weight: bold;
    text-transform: uppercase;
    margin-bottom: 1rem;
    text-align: center;
    font-size: 1.5rem;
    text-transform: uppercase;
}
.logo i {
    transform: rotate(0deg);
    transition: transform 200ms;
}

.navbar:hover .logo i {
    transform: rotate(-180deg);
}

.logo a:hover {
    background: none;
}













































/* Small screens */
@media only screen and (max-width: 600px) {
    .navbar {
        bottom: 0;
        width: 100vw;
        height: 5rem;
    }
    

    .navbar:hover {
        width: 16rem;
    }

    .nabar:hover .link-text {
        display: inline;
        transition: opacity 200ms;
    }



    .logo {
        display: none;
    }

    .navbar-nav {
        flex-direction: row;
    }

    .nav-link {
        justify-content: center;
    }

    main {
        margin: 0;
    }



    /* YouTube Player */

    .ytplayer, .ytabout {
        width: 50%;
        height: 15%;
    }

}

@media only screen and (max-height: 600px) {
    .ytplayer, .ytabout {
        top: 40%;
        transition: 500ms;
    }
}